<div class="table__container">
    <h3 class="heading">Próximos Vencimentos</h3>
    <table class="table">
    <thead class="thead">
        <tr>
            <th>Operações</th>
            <th>Papel</th>
            <th>Vencimento</th>
            <th>Quantidade</th>
            <th>Resultado</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td data-label="Operações">Call Ratio</td>
            <td data-label="Papel">ITUB4</td>
            <td data-label="Vencimento">20/11/2023</td>
            <td data-label="Quantidade">8955</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

        <tr>
            <td data-label="Operações">Front End</td>
            <td data-label="Papel">ITUB3</td>
            <td data-label="Vencimento">20/11/2023</td>
            <td data-label="Quantidade">1000</td>
            <td data-label="Resultado"><span class="text__open">R$ 40.000.00</span></td>
          
        </tr>

        <tr>
            <td data-label="Operações">Back End</td>
            <td data-label="Papel">ITUB2</td>
            <td data-label="Vencimento">20/11/2023</td>
            <td data-label="Quantidade">1562</td>
            <td data-label="Resultado"><span class="text__open">R$ 25.000.00</span></td>
            
        </tr>

        <tr>
            <td data-label="Operações">Full Stack</td>
            <td data-label="Papel">ITUB1</td>
            <td data-label="Vencimento">20/11/2023</td>
            <td data-label="Quantidade">3666</td>
            <td data-label="Resultado"><span class="text__open">R$ 90.000.00</span></td>
          
        </tr>
    </tbody>
</table>
</div>