.canvas__container{
    position: relative;
    height: auto;
    width: auto;
    margin-top: 1rem;

    .titulo__grafico{
         font-size: 20pt;
         font-weight: 500;
    }
    .my_canvas{
        position: absolute;
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 740px) {
    .my_canvas{
        width: auto;
        height: auto;
    }
}