.canvas__container{
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 1rem;

    .my_canvas{
        position: absolute;
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 740px) {
    .my_canvas{
        width: auto;
        height: auto;
    }
}