.container__grafico{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    border-top:3px solid #BC0D15 ;
    background: #fff;
    margin-top: 1rem;
}


.titulo{
    margin-top: 2rem;
    width: 100%;

    p{
        font-size: 20pt;
        font-weight: 500;
        margin-top: 1rem;
    }
}