

<div class="card__container">
<div class="row">
<div class="cards">
    <div class="titulo">
        <p>Risco</p>
    </div>
<div class="card-content">
    <img src="../../../../assets/image/garanti1 (2).png" alt="">
    <p>Total de Garantias Disponíveis</p>
    <span>{{garantiaDisponivel}}</span>
</div>
<div class="card-content">
    <img src="../../../../assets/image/alavancagem.png" alt="">
    <p>Alavancagem</p>
    <span>{{alavancagem}}</span>
</div>
<div class="card-content">
    <img src="../../../../assets/image/drawdown.png" alt="">
    <p>Máximo Drawdown</p>
    <span>{{maximoDraw}}</span>
</div>
</div>

</div>
<div class="grafico">
    <app-grafico></app-grafico>
</div>
</div>