<div class="card__container">
<div class="row">
<div class="cards">
    <div class="titulo__container">
        <p>Risco</p>
    </div>
<div class="card">
    <img src="../../../../assets/image/garanti1 (2).png" alt="">
    <p>Total de Garantias Disponíveis</p>
    <span>R$ 70.000.00</span>
</div>
<div class="card">
    <img src="../../../../assets/image/alavancagem.png" alt="">
    <p>Alavancagem</p>
    <span>1,5 X</span>
</div>
<div class="card">
    <img src="../../../../assets/image/drawdown.png" alt="">
    <p>Máximo Drawdown</p>
    <span>48,87%</span>
</div>
</div>
<app-grafico></app-grafico>
</div>
</div>