
.card__container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
 
 
    

    .row{
        height: auto;
        width: 70%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-right: 1rem;
        position: relative;
       
        

        .cards{
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 1rem;
            flex-wrap: wrap;
            position: relative;
            top:0;
            margin-top: 2rem;

            .titulo{
                width: 100%;
                text-align: left;

                p{
                    font-size: 20pt;
                    font-weight: 500;
                }
            }

            .card-content{
                box-shadow: 1px 1px 6px rgba(41, 41, 41, 0.089);
                height:14rem;
                width: 14rem;
                background: #fff;
                border-top: 3px solid #BD0E16;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;



                img{
                    height: 4rem;
                }

                p{
                    text-align: center;
                    font-weight: 400;
                    font-size: 11pt;
                    margin-top: 1rem;
                }

                span{
                    font-size: 15pt;
                    margin-top: 5pt;
                    font-weight: 500;
                    color: rgb(3, 145, 3);
                }
            }
        }
    }
}


@media screen and (max-width: 735px){

    .row{
        width: 100%;
        flex-direction: column;

        .grafico{
            margin-top: 1rem;
            margin-bottom: 2rem;
            height: auto;
            width: 100%;
        }
    }
    .cards{
        flex-direction: column;
    }
}










