.titulo{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    p{
        font-size: 15px;
        font-weight: 500;
    }
}

.container__grafico{
    height: auto;
    width: 100%;
    background: #fff;
    border-top: 3px solid #BC0D15;
    padding: 0rem 1rem;
}