<div class="Cards__container">
    <div class="card__row">
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../../assets/icons/Customer.svg">
                <!--<i class='bx bx-user'></i>-->
            </div>

            <div class="info">
                <span>Total Clientes Escritório</span>
                <p *ngIf="resultado">{{totalClient}}</p>
                <div *ngIf="spinner" class="spinner" style="height: 20px; width: 20px; margin-top: 0.50rem;">
                    <mat-spinner style="height: 20px; width: 20px;"></mat-spinner>
                </div>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../../assets/icons/Customer.svg">
            </div>
            <div class="info">
                <span>Clientes de Mesa</span>
                <p *ngIf="resultado">{{totalClient}}</p>
                <div *ngIf="spinner" class="spinner" style="height: 20px; width: 20px; margin-top: 0.50rem;">
                    <mat-spinner style="height: 20px; width: 20px;"></mat-spinner>
                </div>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../../assets/icons/Customer.svg">
            </div>

            <div class="info">
                <span>Clientes Taylor Made</span>
                <p *ngIf="resultado">{{totalClient}}</p>
                <div *ngIf="spinner" class="spinner" style="height: 20px; width: 20px; margin-top: 0.50rem;">
                    <mat-spinner style="height: 20px; width: 20px;"></mat-spinner>
                </div>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../../assets/icons/Customer.svg">
            </div>
            <div class="info">
                <span>Clientes Novos Mês</span>
                <p *ngIf="resultado">{{totalClient}}</p>
                <div *ngIf="spinner" class="spinner" style="height: 20px; width: 20px; margin-top: 0.50rem;">
                    <mat-spinner style="height: 20px; width: 20px;"></mat-spinner>
                </div>
            </div>
        </div>

        <div class="card__doc">
            <div class="card__icon__doc">
                <img src="../../../../assets/icons/Documents.svg">
                <!--<i class='bx bxs-file-doc'></i>-->
            </div>

            <div class="info">
                <span>Histórico de Dados</span>
                <p>{{totalHistoricoDados}}</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../../assets/icons/Us Dollar Circled.svg">
                <!--<i class='bx bx-dollar-circle'></i>-->
            </div>

            <div class="info">
                <span>Caixa Disponível</span>
                <p>{{totalCaixaDisponivel}}</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>P/L Mesa</span>
                <p>{{totalPlMesa}}</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>P/L RV Escritório</span>
                <p>{{totalPlRvEscritorio}}</p>
            </div>
        </div>



    </div>
</div>