<div class="Cards__container">
    <div class="card__row">
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <i class='bx bx-user'></i>
            </div>

            <div class="info">
                <span>Total Clientes Escritório</span>
                <p></p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <i class='bx bx-user'></i>
            </div>
            <div class="info">
                <span>Clientes de Mesa</span>
                <p>{{totalClient}}</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <i class='bx bx-user'></i>
            </div>

            <div class="info">
                <span>Clientes Taylor Made</span>
                <p></p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <i class='bx bx-user'></i>
            </div>
            <div class="info">
                <span>Clientes Novos Mês</span>
                <p></p>
            </div>
        </div>

        <div class="card__doc">
            <div class="card__icon__doc">
                <i class='bx bxs-file-doc'></i>
            </div>

            <div class="info">
                <span>Histórico de Dados</span>
                <p></p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <i class='bx bx-dollar-circle'></i>
            </div>

            <div class="info">
                <span>Caixa Disponível</span>
                <p></p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <i class='bx bx-dollar-circle'></i>
            </div>

            <div class="info">
                <span>P/L Mesa</span>
                <p></p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <i class='bx bx-dollar-circle'></i>
            </div>

            <div class="info">
                <span>P/L RV Escritório</span>
                <p></p>
            </div>
        </div>



    </div>
</div>

