<div class="table__container">
    <h3 class="heading">Operações Long & Short</h3>
    <table class="table">
    <thead class="thead">
        <tr>
            <th>Pares</th>
            <th>Quantidade1</th>
            <th>Quantidade2</th>
            <th>Ratio Entrada</th>
            <th>Ratio Atual</th>
            <th>Resultado</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td data-label="Ativo">Call Ratio</td>
            <td data-label="Quantidade">ITUB4</td>
            <td data-label="Estrutura">20/11/2023</td>
            <td data-label="Vencimento">8955</td>
            <td data-label="Strick">zeek</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

        <tr>
            <td data-label="Ativo">Call Ratio</td>
            <td data-label="Quantidade">ITUB4</td>
            <td data-label="Estrutura">20/11/2023</td>
            <td data-label="Vencimento">8955</td>
            <td data-label="Strick">zeek</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

        <tr>
            <td data-label="Ativo">Call Ratio</td>
            <td data-label="Quantidade">ITUB4</td>
            <td data-label="Estrutura">20/11/2023</td>
            <td data-label="Vencimento">8955</td>
            <td data-label="Strick">zeek</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

        <tr>
            <td data-label="Ativo">Call Ratio</td>
            <td data-label="Quantidade">ITUB4</td>
            <td data-label="Estrutura">20/11/2023</td>
            <td data-label="Vencimento">8955</td>
            <td data-label="Strick">zeek</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

        <tr>
            <td data-label="Ativo">Call Ratio</td>
            <td data-label="Quantidade">ITUB4</td>
            <td data-label="Estrutura">20/11/2023</td>
            <td data-label="Vencimento">8955</td>
            <td data-label="Strick">zeek</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

        <tr>
            <td data-label="Ativo">Call Ratio</td>
            <td data-label="Quantidade">ITUB4</td>
            <td data-label="Estrutura">20/11/2023</td>
            <td data-label="Vencimento">8955</td>
            <td data-label="Strick">zeek</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
         
        </tr>

     
        
    </tbody>
</table>
</div>