.Cards__container {
    margin-top: 1rem;
    padding: 5pt;
    border-top: 3px solid #BC0D15;
    height: auto;
    width: auto;
    background: #fff;

    .card__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:3pt ;
    grid-row-gap:3pt;



    .card__user__cliente {
    min-height: 70px;
    width: 100%;
    background: rgb(0, 190, 0);
    display: flex;
    position: relative;
    
    .info{
    margin-left: 5px;   
    padding-top: 5px;
    position: relative;

    span{
    color: #fff;
    font-size: 0.85rem;
    position: relative

    }
    p{
    position: relative;
    margin-top: 3px;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    }
    
}

           

    .card__icon__user {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    width: 5rem;
    background:  rgb(5, 151, 5);

    i {
    font-size: 30px;
    color: #fff;
    }
    }
}





    .card__doc {
    position: relative;
    min-height: 70px;
    width: 100%;
    background: #670098 ;
    display: flex;


            
    .info{
    margin-left: 5px;   
    padding-top: 5px;

    span{
    color: #fff;
    font-size: 0.85rem;
    }

    p{
    margin-top: 3px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    }
    
}

    .card__icon__doc {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 5rem;
    background: #56037D ;

    i {
        font-size: 30px;
        color: #fff;
    }
}
}



    .card__cifrao {
    position: relative;
    min-height: 70px;
    width: 100%;
    background:#AB0202;
    display: flex;
    


    .info{
    margin-left: 5px;   
    padding-top: 5px;

    span{
    color: #fff;
    font-size: 0.85rem;
}


    p{
    margin-top: 3px;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
}
    
    }

    .card__icon__cifrao {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:50px;
    width: 5rem;
    background: #850000;

i {
    font-size: 30px;
    color: #fff;
}
}
}


    
}
}

@media screen and (max-width: 600px) {
    .Cards__container{
        .card__row{
          display: flex;
          flex-direction: column;

            .card__user__cliente{
                width: 100%;
            }

            .card__doc{
                width: 100%;
            }

            .card__cifrao{
                width: 100%;
            }
    
        }

    }
}

@media screen and (max-width:1100px){

    .Cards__container{
        .card__row{
            grid-template-columns: repeat(2, 2fr);
        }
    }
   
}


