<div class="Cards__container">
    <div class="card__row">
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Shield.svg">
            </div>

            <div class="info">
                <span>Garantia Disponível</span>
                <p>{{garantiaDisponivel}}</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Variable.svg">
            </div>
            <div class="info">
                <span>Var</span>
                <p>{{varValue}}</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Combo Chart.svg">
            </div>

            <div class="info">
                <span>Máximo Drawdown</span>
                <p>{{maximoDraw}}</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Beta.svg">
            </div>
            <div class="info">
                <span>Beta</span>
                <p>{{beta}}</p>
            </div>
        </div>

        <div class="card__doc">
            <div class="card__icon__doc">
                <img src="../../../assets/icons/Documents.svg">
            </div>

            <div class="info">
                <span>Histórico de Dados</span>
                <p>{{historicoDeDados}}</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>Caixa Disponível</span>
                <p>{{caixaDisponivel}}</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>Net Explosure</span>
                <p>{{netExplosure}}</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>Glow Explosure</span>
                <p>{{glowExplosure}}</p>
            </div>
        </div>



    </div>
</div>