<div class="Cards__container">
    <div class="card__row">
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Shield.svg">
            </div>

            <div class="info">
                <span>Garantia Disponível</span>
                <p>R$ 15.000,00</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Variable.svg">
            </div>
            <div class="info">
                <span>Var</span>
                <p>168</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Combo Chart.svg">
            </div>

            <div class="info">
                <span>Máximo Drawdown</span>
                <p>30</p>
            </div>
        </div>
        <div class="card__user__cliente">
            <div class="card__icon__user">
                <img src="../../../assets/icons/Beta.svg">
            </div>
            <div class="info">
                <span>Beta</span>
                <p>40</p>
            </div>
        </div>

        <div class="card__doc">
            <div class="card__icon__doc">
                <img src="../../../assets/icons/Documents.svg">
            </div>

            <div class="info">
                <span>Histórico de Dados</span>
                <p>120</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>Caixa Disponível</span>
                <p>10.000.00</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>Net Explosure</span>
                <p>85.000.00</p>
            </div>
        </div>

        <div class="card__cifrao">
            <div class="card__icon__cifrao">
                <img src="../../../assets/icons/Us Dollar Circled.svg">
            </div>

            <div class="info">
                <span>Glow Explosure</span>
                <p>250.000.000</p>
            </div>
        </div>



    </div>
</div>