<div class="table__container">
    <h3 class="heading">Carteira</h3>
    <table class="table">
    <thead class="thead">
        <tr>
            <th>Papel</th>
            <th>Quantidade</th>
            <th>Peso</th>
            <th>PM</th>
            <th>Valor de Compra</th>
            <th>Valor de Renda</th>
            <th>%</th>
            <th>Resultado</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td data-label="Papel">Call Ratio</td>
            <td data-label="Qunatidade">ITUB4</td>
            <td data-label="Peso">20/11/2023</td>
            <td data-label="PM">8955</td>
            <td data-label="Valor de Compra">8955</td>
            <td data-label="Valor de Renda">8955</td>
            <td data-label="%">8955</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
        </tr> 

        <tr>
            <td data-label="Papel">Call Ratio</td>
            <td data-label="Qunatidade">ITUB4</td>
            <td data-label="Peso">20/11/2023</td>
            <td data-label="PM">8955</td>
            <td data-label="Valor de Compra">8955</td>
            <td data-label="Valor de Renda">8955</td>
            <td data-label="%">8955</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
        </tr> 

        <tr>
            <td data-label="Papel">Call Ratio</td>
            <td data-label="Qunatidade">ITUB4</td>
            <td data-label="Peso">20/11/2023</td>
            <td data-label="PM">8955</td>
            <td data-label="Valor de Compra">8955</td>
            <td data-label="Valor de Renda">8955</td>
            <td data-label="%">8955</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
        </tr> 

        <tr>
            <td data-label="Papel">Call Ratio</td>
            <td data-label="Qunatidade">ITUB4</td>
            <td data-label="Peso">20/11/2023</td>
            <td data-label="PM">8955</td>
            <td data-label="Valor de Compra">8955</td>
            <td data-label="Valor de Renda">8955</td>
            <td data-label="%">8955</td>
            <td data-label="Resultado"><span class="text__open">R$ 50.000.00</span></td>
        </tr> 
          
       
    </tbody>
</table>
</div>





